<div class="container">
<h1> 게시판 리스트 </h1>
  <% @post.each do |p| %>
    <div class="well">
      제목 : <%= p.title_db %> <br> 
      내용 : <%= p.content_db %>
    </div>
  <% end %>

<a href="/home/index"><h1> [Go Back] </h1> </a>

</div>
